<div class="container">

    <form (ngSubmit)="submitForm()" [formGroup]="searchForm">
        <mat-form-field class="search-container">
            <mat-label>Search by keyword, artist, or reference</mat-label>
            <input matInput type="text" formControlName="query"/>
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>

    </form>

    <ngx-masonry>
        <div ngxMasonryItem class="masonry-item" *ngFor="let item of items">
            <app-art-card [item]="item" />
        </div>
    </ngx-masonry>

    <app-pagination [itemsPerPage]="pagination.limit" [currentPage]="pagination.current_page"
        [totalPages]="pagination.total_pages" (pageChanged)="changePage($event)" *ngIf="pagination">
    </app-pagination>
</div>